// Color themes
$themes: (
  default: #666,
  banana: #F9A825,
  cherry: #C2185B,
  blueberry: #5E35B1,
  leaf: #2E7D32,
  nightsky: #303F9F
);


// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $color) {
  .#{$name} {
    .component{
      border-color: darken($color, 10%);
    }

    .component__heading {
      color: $color;
    }

    .component__list-item {
      background: lighten($color, 25%);
    }
    .component__list-btn {
      background: lighten($color, 5%);
    }
  }

  [data-theme='#{$name}'] {
    background: $color;

    &:hover {
      background: darken($color, 10%);
    }

    &[disabled] {
      background: desaturate($color, 40%);
    }
  }
}

// Including themes
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}


// Default styles
.component {
  background: #EFEFEF;
  //padding: 1em;
  //margin-bottom: 1em;
  //border-top: .5em solid;

  &__heading {

  }

  &__list {
    list-style: none;
    padding: 0;
    overflow: hidden;
  }

  &__list-item {
    float: center;
    width: 90%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

.controls > button {
  border: none;
  color: white;
  padding: .5em;
  border-radius: .15em;
  font-weight: bold;
  margin-bottom: .5em;
}

body {
  padding: 0;
}

* {
  box-sizing: border-box;
}

.credit {
  font-size: .8em;
  padding-top: 1.2em;
}

.credit a {
  color: #444;
}
