/* line 17, ../sass/index.scss */
.default .component {
  border-color: #4d4d4d;
}
/* line 21, ../sass/index.scss */
.default .component__heading {
  color: #666;
}
/* line 25, ../sass/index.scss */
.default .component__list-item {
  background: #a6a6a6;
}
/* line 28, ../sass/index.scss */
.default .component__list-btn {
  background: #737373;
}
/* line 31, ../sass/index.scss */
.default .component__list-item.flipcard {
  background: #595959;
}

/* line 36, ../sass/index.scss */
[data-theme='default'] {
  background: #666;
}
/* line 39, ../sass/index.scss */
[data-theme='default']:hover {
  background: #4d4d4d;
}
/* line 43, ../sass/index.scss */
[data-theme='default'][disabled] {
  background: #666666;
}

/* line 17, ../sass/index.scss */
.banana .component {
  border-color: #e59006;
}
/* line 21, ../sass/index.scss */
.banana .component__heading {
  color: #F9A825;
}
/* line 25, ../sass/index.scss */
.banana .component__list-item {
  background: #fcdaa1;
}
/* line 28, ../sass/index.scss */
.banana .component__list-btn {
  background: #fab23e;
}
/* line 31, ../sass/index.scss */
.banana .component__list-item.flipcard {
  background: #f89e0c;
}

/* line 36, ../sass/index.scss */
[data-theme='banana'] {
  background: #F9A825;
}
/* line 39, ../sass/index.scss */
[data-theme='banana']:hover {
  background: #e59006;
}
/* line 43, ../sass/index.scss */
[data-theme='banana'][disabled] {
  background: #cc9d52;
}

/* line 17, ../sass/index.scss */
.cherry .component {
  border-color: #951246;
}
/* line 21, ../sass/index.scss */
.cherry .component__heading {
  color: #C2185B;
}
/* line 25, ../sass/index.scss */
.cherry .component__list-item {
  background: #ed6d9f;
}
/* line 28, ../sass/index.scss */
.cherry .component__list-btn {
  background: #d91b66;
}
/* line 31, ../sass/index.scss */
.cherry .component__list-item.flipcard {
  background: #ab1550;
}

/* line 36, ../sass/index.scss */
[data-theme='cherry'] {
  background: #C2185B;
}
/* line 39, ../sass/index.scss */
[data-theme='cherry']:hover {
  background: #951246;
}
/* line 43, ../sass/index.scss */
[data-theme='cherry'][disabled] {
  background: #964464;
}

/* line 17, ../sass/index.scss */
.blueberry .component {
  border-color: #49298a;
}
/* line 21, ../sass/index.scss */
.blueberry .component__heading {
  color: #5E35B1;
}
/* line 25, ../sass/index.scss */
.blueberry .component__list-item {
  background: #a58adc;
}
/* line 28, ../sass/index.scss */
.blueberry .component__list-btn {
  background: #693bc4;
}
/* line 31, ../sass/index.scss */
.blueberry .component__list-item.flipcard {
  background: #542f9d;
}

/* line 36, ../sass/index.scss */
[data-theme='blueberry'] {
  background: #5E35B1;
}
/* line 39, ../sass/index.scss */
[data-theme='blueberry']:hover {
  background: #49298a;
}
/* line 43, ../sass/index.scss */
[data-theme='blueberry'][disabled] {
  background: #6e6383;
}

/* line 17, ../sass/index.scss */
.leaf .component {
  border-color: #205823;
}
/* line 21, ../sass/index.scss */
.leaf .component__heading {
  color: #2E7D32;
}
/* line 25, ../sass/index.scss */
.leaf .component__list-item {
  background: #64c669;
}
/* line 28, ../sass/index.scss */
.leaf .component__list-btn {
  background: #359039;
}
/* line 31, ../sass/index.scss */
.leaf .component__list-item.flipcard {
  background: #276a2b;
}

/* line 36, ../sass/index.scss */
[data-theme='leaf'] {
  background: #2E7D32;
}
/* line 39, ../sass/index.scss */
[data-theme='leaf']:hover {
  background: #205823;
}
/* line 43, ../sass/index.scss */
[data-theme='leaf'][disabled] {
  background: #505b51;
}

/* line 17, ../sass/index.scss */
.nightsky .component {
  border-color: #242f78;
}
/* line 21, ../sass/index.scss */
.nightsky .component__heading {
  color: #303F9F;
}
/* line 25, ../sass/index.scss */
.nightsky .component__list-item {
  background: #7885d6;
}
/* line 28, ../sass/index.scss */
.nightsky .component__list-btn {
  background: #3647b3;
}
/* line 31, ../sass/index.scss */
.nightsky .component__list-item.flipcard {
  background: #2a378b;
}

/* line 36, ../sass/index.scss */
[data-theme='nightsky'] {
  background: #303F9F;
}
/* line 39, ../sass/index.scss */
[data-theme='nightsky']:hover {
  background: #242f78;
}
/* line 43, ../sass/index.scss */
[data-theme='nightsky'][disabled] {
  background: #595d76;
}

/* line 57, ../sass/index.scss */
.component {
  background: #EFEFEF;
}
/* line 67, ../sass/index.scss */
.component__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
/* line 73, ../sass/index.scss */
.component__list-item {
  float: center;
  width: 90%;
  margin-right: 1%;
  margin-left: 1%;
}

/* line 81, ../sass/index.scss */
.controls > button {
  border: none;
  color: white;
  padding: .5em;
  border-radius: .15em;
  font-weight: bold;
  margin-bottom: .5em;
}

/* line 90, ../sass/index.scss */
body {
  padding: 0;
}

/* line 94, ../sass/index.scss */
* {
  box-sizing: border-box;
}

/* line 98, ../sass/index.scss */
.credit {
  font-size: .8em;
  padding-top: 1.2em;
}

/* line 103, ../sass/index.scss */
.credit a {
  color: #444;
}
