body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}

section {
  margin: 10px;
}

.wrapper1 {
  text-align: center;
  margin: 20px;
}

.card{
  width: 200px;
  height:230px;
}

.btn-floating {
  position: absolute;
  top: 50%;
}

.card-action {
  text-align: center;
  font-size: 50%;
}

.color-btn {
  text-align: center;
}
#archive {
  text-align: center;
  width: 95px;
  height:35px;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

#textarea {
  color: #fff;
  font-size: 15px;
  font-family: Roboto;
}

.brand-logo {
  margin-left: 5%;
}

.flip {
  -webkit-perspective: 800;
   width: 200px;
   height: 230px;
    position: relative;
    margin: 50px auto;
}
.flip .flipcard.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .flipcard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .flipcard .face{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .flipcard .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}
.flip .flipcard .back {
  -webkit-transform: rotatex(-180deg);
    color: black;
    cursor: pointer;
}
